{% extends "base.html" %}
{% block content %}

        <!-- Behind the Scenes section -->
        <div class="behind_scenes_section">

            <div class="wrapper">
                <div class="behind_scenes_inner">
                    <div class="behind_scenes_left_block">
                        <div class="behind_scenes_l_img">
                            <img src="/static/images/behind_scenes_left_img.webp" alt="img">
                        </div>
                    </div>
                    <div class="behind_scenes_content_block">
                        <div class="behind_scenes_content">

                            <h2 class="site_title">
                                Behind the Scenes
                            </h2>

                            <div class="behind_scenes_info paragraph_pra">
                                <p>
                                    Here at Billie Jane's we love designing and making our embroidered patches. Every
                                    patch
                                    is
                                    designed and custom made in house. We believe that's what makes our hats different
                                    from
                                    the
                                    rest.
                                </p>
                                <ul>
                                    <li>Each hat is made-to-order, crafted just for you!</li>
                                    <li> We know a hat can be more than just an accessory—it can tell a story, bring a
                                        smile,
                                        and be frosting to your outfit.</li>
                                    <li> We love hearing from you, if you have a great hat or Koozie idea we would love
                                        to
                                        hear
                                        it. Share your stories with us!</li>
                                </ul>
                            </div>

                            <div class="behind_scenes_img">
                                <img src="/static/images/behind_scenes_info_img.webp" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock  %}