{% extends "base.html" %}
{% block content %}

<!-- News letter Section -->
<div class=" newsletter_section">
    <div class="wrapper">
        <div class="newsletter_sec_outer">
            <div class="newsletter_sec_inner  ">
                <div class="newsletter_content_box  newsletter_inner_b newsletter_inner_b1">
                    <div class="newsletter_title">
                        <h3>We would love for you to share! We only send good stuff and good
                            deals...promises!</h3>
                    </div>
                    <div class="newsletter_content_form">
                        <input type="email" class="sign_up_input" placeholder="Email">
                        <input type="submit" class="sign_up_btn" value="">
                    </div>
                </div>

                <div class=" newsletter_inner_b newsletter_inner_b2">
                    <div class="contact_info_inner">
                        <div class="newsletter_title">
                            <h3>Let’s Chat</h3>
                        </div>
                        <div class="news_contact_info">
                            <p>Owner: Jennifer</p>
                            <p>Phone: <a href="tel:469-751-8418">469-751-8418</a></p>
                            <p>Email: <a href="mailto:Hello@billiejanes.com">Hello@billiejanes.com</a>
                            </p>
                        </div>

                    </div>

                </div>
                <div class=" newsletter_inner_b newsletter_inner_b3">
                    <div class="contact_info_inner">
                        <div class="newsletter_title">
                            <h3>Let’s Connect</h3>
                        </div>
                        <div class="news_contact_info">

                            <div class="social_media_box">
                                <a href="#"><img src="/static/images/facebook.svg" alt="facebook"></a>
                                <a href="#"><img src="/static/images/instagram.svg" alt="instagram"></a>
                                <a href="#"><img src="/static/images/linkedin.svg" alt="linkedin"></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}